.all{
    width: 65vw;
    height: auto;
    margin: 5vw auto 0vw auto;
}

.thankyou{
    width: 50vw;
    height: 2vw;
    font-size: 2vw;
    margin: 3vw auto;
    text-align: center;
}

.become{
    width: 45vw;
    height: 1vw;
    font-size: 1vw;
    margin: 0vw auto;
    text-align: right;
}

.premier{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.premierlogos{
    margin-top: 3vw;
    width: 70vw;
    height: 20vw;
}

.premierlogos .fhs{
    margin-left: 1vw;
    height: 20vw;
    width: auto;
    float: left;
}

.premierlogos .azco{
    height: 18vw;
    width: auto;
    float: right;
}

.platinum{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.platinumlogos{
    margin-top: 3vw;
    width: 65vw;
    height: 15vw;
}

.platinumlogos .sams{
    margin-left: 21vw;
    height: 15vw;
    width: auto;
}

.gold{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.goldlogos{
    margin-top: 3vw;
    width: 65vw;
    height: 10vw;
}

.silver{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.silverlogos{
    margin-top: 3vw;
    width: 65vw;
    height: 7.5vw;
}

.silverlogos .tft{
    height: 7.5vw;
    width: auto;
    float: left;
    margin-left: 13vw;
}

.silverlogos .rws{
    height: 7.5vw;
    width: auto;
    float: left;
    margin-left: 3vw;
}

.silverlogos .nasa{
    height: 7.5vw;
    width: auto;
    float: left;
    margin-left: 3vw;
}

.bronze{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.bronzelogos{
    margin-top: 3vw;
    width: 65vw;
    height: 5vw;
}

.bronzelogos .fleet{
    height: 5vw;
    width: auto;
    margin-left: 27.5vw;
}

.divider{
    width: 40vw;
    height: .1vw;
    background-color: darkgreen;
    margin: 3vw auto 3vw auto;
}