.all{
    width: 65vw;
    height: auto;
    margin: 5vw auto 0vw auto;
}

.thankyou{
    width: 50vw;
    height: 2vw;
    font-size: 2vw;
    margin: 3vw auto;
    text-align: center;
}

.become{
    width: 45vw;
    height: 1vw;
    font-size: 1vw;
    margin: 0vw auto;
    text-align: right;
}

.premier{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.premierlogos{
    margin-top: 3vw;
    width: 65vw;
    height: 20vw;
}

.premierlogos .fhs{
    height: 20vw;
    width: auto;
    margin-left: 22vw
}

.platinum{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.platinumlogos{
    margin-top: 3vw;
    width: 65vw;
    height: 15vw;
}

.azco{
    height: 15vw;
    width: auto;
    margin-left: 14vw;
}

.gold{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.goldlogos{
    margin-top: 3vw;
    width: 70vw;
    height: 18vw;
}

.goldlogos .MenCorp{
    height: 10vw;
    width: auto;
    float: left;
}

.goldlogos .valmet{
    margin-left: 1vw;
    height: 10vw;
    width: auto;
    float: left;
}

.goldlogos .WEEn{
    margin-left: 1vw;
    height: 10vw;
    width: auto;
    float: left;
}

.goldlogos .abs{
    margin-top: 1vw;
    height: 7vw;
    width: auto;
    margin-left: 14vw;
}

.silver{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.silverlogos{
    margin-top: 3vw;
    width: 65vw;
    height: 7.5vw;
}

.silverlogos .tft{
    margin-left: 11vw;
    height: 7.5vw;
    width: auto;
}

.silverlogos .cmd{
    margin-left: 2vw;
    height: 7.5vw;
    width: auto;
}

.silverlogos .faith{
    margin-left: 2vw;
    height: 7.5vw;
    width: auto;
}

.bronze{
    width: 65vw;
    height: 1.5vw;
    margin: 0vw auto;
    font-size: 1.5vw;
    text-align: center;
}

.bronzelogos{
    margin-top: 3vw;
    width: 65vw;
    height: 5vw;
}

.divider{
    width: 40vw;
    height: .1vw;
    background-color: darkgreen;
    margin: 3vw auto 3vw auto;
}