#team{
    height: auto;
    margin-top: 30px;
    margin-bottom: 80px;
}

#teaminfo{
    height: auto;
    width: 500px;
    margin-right: 30px;
}

#teamheader{
    margin-top: 15px;
    width: auto;
    text-align: center;
    font-size: 30px;
}

#teamdes{
    padding-top: 16px;
    width: auto;
    text-align: center;
    font-size: 17px;
}

#teamimg{
    height: auto;
    width: auto;
    margin-left: 30px;
}

#teampic{
    margin: 24px auto 0 20px;
    width: 525px;
}

#divider{
    height: 2px;
    width: 30vw;
    background-color: darkgreen;
    margin: 40px auto 40px 25vw;
}

#frc{
    margin-top: 80px;
    margin-bottom: 40px;
    /*height: 400px;*/
    height: auto;
}

#frclogo{
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-right: 10px;
}

#frcpic{
    margin-top: 40px;
    width: 300px;
}

#frcinfo{
    width: 400px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#frcheader{
    width: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
}

#frcdes{
    padding-top: 16px;
    width: auto;
    text-align: center;
    font-size: 16px;
}

#compimg{
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: -120px;
}

#comppic{
    height: 500px;
}

#teaminfo2{
    height: auto;
    width: 500px;
    display: none;
}

#teamheader2{
    margin-top: 15px;
    width: auto;
    text-align: center;
    font-size: 30px;
}

#teamdes2{
    padding-top: 16px;
    width: auto;
    text-align: center;
    font-size: 17px;
}

#teamimg2{
    height: auto;
    width: auto;
    margin-top: 10px;
    display: none;
}

#teampic2{
    width: 525px;
}



@media(max-width: 350px){
    #comppic{height: auto; width: 85vw;}
}

@media(max-width: 550px){
    #teaminfo2{width: 90vw;}
    #teamheader2{margin-top: 10px; font-size: 18px;}
    #teamdes2{padding-top: 10px; font-size: 12px;}
    #divider{height: 1px;}
    #frclogo{margin-top: -10px;}
    #frcpic{width: 200px}
    #frcheader{font-size: 18px;}
    #frcdes{font-size: 12px;}
    #comppic{height: 400px}

}

@media(max-width: 570px){
    #teampic2{width:85vw}
}

@media(max-width: 799px){
    #frclogo{margin-top: 0; margin-bottom: 30px;}
}

@media(max-width: 1094px){
    #team{margin-top: 10px;}
    #teamimg2{margin-top: 20px;}
}

@media(max-width: 1174px){
    #teaminfo{display: none;}
    #teamimg{display: none;}
    #teaminfo2{display: block;}
    #teamimg2{display: block;}
}

@media(max-width: 1216px){
    #compimg{margin-top: 20px;}
    #divider{width: 60vw; margin: -40px auto;}
}