html, body, div{
    margin:0;
}

#head{
    background-color: white;
    z-index: 1;
}

#logo{
    padding-top: 4px;
    width: auto;
    height: 120px;
    margin-right: 24px;
}

#nav{
    z-index: 1;
}

#name{
    font-size: 36px;
    margin-right: 14px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

#menu{
    float: right;
    margin-top: 48px;
    display: none;
}

#menubars:hover #menudropdown{
    display: block;
}

#menudropdown{
    width: 95px;
    height: 190px;
    background-color: white;
    position: absolute;
    z-index: 1;
    margin-top: 75px;
    margin-left: -65px;
    display: none;
    padding-top: 16px;
}

#menudropdown a{
    color: black;
}

#menulink:hover{
    color: forestgreen;
}

#menulink1{
    margin-top: 80px;
    font-size: 17px;
}

#menulink{
    margin-top: 20px;
    font-size: 17px;
}

#menuyears{
    width: 75px;
    height: 30px;
    margin-bottom: 12px;
}

#menuyears a{
    color: black;
    font-size: 15px;
    text-align: center;
}

.contactlink{
    margin-top: 100px;
}

#bars{
    width: 25px;
    height: 3px;
    background-color: black;
    margin-top: 4px;
}

#switch{
    margin-top: 38px;
}

#switch:hover{
    background-color: yellow;
}

#switch{
    color: black;
    text-decoration: underline;
    font-size: 20px;
}

.sponsordropdown{
    width: 100px;
    height: 70px;
    margin-left: 10px;
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: white;
    display: none;
}

#Sponsors:hover .sponsordropdown{
    display: block;
}

#year{
    font-size: 20px;
    color: black;
}

#year:hover{
    color: forestgreen;
}

#bottom{
    width: 100%;
    margin-top: 50px 0 0 0;
    height: 90px;
    background-color: black;
}

#link{
    width: auto;
    height: auto;
}

#facebook{
    height: 50px;
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
}

#instagram{
    height: 50px;
    width: auto;
    margin-top: 20px;
}

@media (max-width: 1150px){
    #switch{display: none;}
    #Sponsors{display: none;}
    #menu{display: block;}
    #info{width: 200px; top: 16vh;}
}

@media(max-width: 550px){
    #logo{height: 60px; width: auto; margin-right: 12px;}
    #name{font-size: 20px; margin-top:14px; margin-right: 16px;}
    #menu{margin-top: 24px;}
    #bars{width: 15px; height: 2px; margin-top: 2px;}
    #menudropdown{margin-top: 35px;}
}