#cover{
    width: 99vw;
    height: auto;
    position: relative;
}

#covertext{
    width: 730px;
    position: absolute;
    top: 16vh;
    left: 19vw;
    font-size: 3vw;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
}

#team{
    height: auto;
    margin-top: 100px;
    margin-bottom: 120px;
}

#mtext{
    height: auto;
    width: 400px;
    margin-right: 30px;
}

#mhead{
    width: auto;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
}

#minfo{
    width: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 6px;
}

#mimg{
    height: auto;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
}

#teampic{
    height: 300px;
}

#divider{
    width: 60vw;
    height: 2px;
    background-color: darkgreen;
    margin: -40px auto 80px auto;
}

#other{
    height: auto;
}

#frc{
    height: 250px;
    width: 525px;
}

#frctext{
    padding-top: 14px;
    height: 240px;
    width: 240px;
    float: left;
    margin-left: -12px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
}

#frcimg{
    height: 240px;
    width: 240px;
    float: left;
    margin-right: -12px;
}

#frclogo{
    margin-top: 28px;
    width: 240px;
}

#fhs{
    height: 250px;
    width: 525px;
}

#fhstext{
    height: 240px;
    width: 240px;
    float: left;
    margin-left: -12px;
    text-align: center;
    font-size: 16px;
    padding-top: 14px;
    margin-right: 20px;
    padding-left: 8px;
}

#fhsimg{
    height: 240px;
    width: 240px;
    float: left;
    margin-right: -12px;
}

#fhslogo{
    width: 240px;
}

#frctext2{
    height: auto;
    width: 220px;
    text-align: center;
    font-size: 12px;
    display: none;
}

#frcimg2{
    height: auto;
    width: auto;
    display: none;
    margin-top: 10px;
}

#frclogo2{
    width: 200px;
    display: none;
}

#fhstext2{
    height: auto;
    width: 220px;
    text-align: center;
    font-size: 14px;
    display: none;
    margin-top: 20px;
}

#fhsimg2{
    height: auto;
    width: auto;
    display: none;
    margin-top: 10px;
}

#fhslogo2{
    width: 200px;
    display: none;
}

#mtext2{
    height: auto;
    width: 400px;
    display: none;
}

#mhead2{
    width: auto;
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
    display: none;
    padding-top: 30px;
}

#minfo2{
    width: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 6px;
    display: none;
}

#mimg2{
    height: auto;
    width: auto;
    margin-top: 20px;
    display: none;
}

#teampic2{
    height: 300px;
}

/*@media(max-width: 954px){
    #team{margin-top: 30px;}
    #mimg{margin-top: 20px;}
}

@media(max-width: 894px){
    #mtext{margin-right: 0;}
    #mimg{margin-left: 0;}
}*/

@media(max-width: 954px){
    #team{margin-top: 30px;}
    #mtext{display: none;}
    #mhead{display: none;}
    #minfo{display: none;}
    #mimg{display: none;}
    #mtext2{display: block;}
    #mhead2{display: block;}
    #minfo2{display: block;}
    #mimg2{display: block;}
}

@media(max-width: 864px){
    #team{margin-top: 0;}
    #mtext2{margin-bottom: 20px;}
}

@media(max-width: 550px){
    #covertext{margin-top: -8vh;}
    #mhead2{font-size: 20px; margin-top: 10px;}
    #minfo{font-size: 14px;}
    #teampic2{height: 250px;}
    #divider{margin-top: -60px; margin-bottom: 60px;}
}

@media(max-width: 548px){
    #frc{display: none;}
    #fhs{display: none;}
    #frctext2{display: block;}
    #frcimg2{display: block;}
    #frclogo2{display: block;}
    #fhstext2{display: block; margin-top: 30px;}
    #fhsimg2{display: block; margin-top: 20px;}
    #fhslogo2{display: block;}
}

@media(max-width: 491px){
    #fhstext2{font-size: 12px;}
}

@media(max-width: 446px){
    #mhead2{font-size: 18px;}
    #minfo2{font-size: 12px;}
}

@media(max-width:360px){
    #teampic2{height: 225px;}
}

@media(max-width:330px){
    #teampic2{height: 200px;}
}

@media (max-width: 1150px){
    #covertext{width: 200px; top: 16vh;}
}

@media(max-height: 850px){
    #covertext{top: 20vh;}
}

@media (max-height: 700px){
    #covertext{top:25vh;}
}

@media (max-height: 500px){
    #covertext{top: 37vh;}
}

@media (max-height: 325px){
    #covertext{top: 50vh;}
}

@media (max-height: 250px){
    #covertext{top: 75vh;}
}

@media (max-height: 150px){
    #covertext{top: 100vh}
}