body{
    background-color: rgb(0, 78, 0);
}

#main{
    padding: 10px;
    background-color: rgb(255, 223, 41);
    margin: 30px auto;
    width: 756px;
    height: 756px;
    /*border: solid;*/
}

#main #header{
    width: 755px;
    height: 90px;
    font-size: 55px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: Arial Narrow, sans-serif;
    /*border: solid thin;*/
}

#robotframe{
    height: auto;
    width: auto;
    float: left;
}

#robotimg{
    width: 386px;
    height: auto;  
    margin-left: 10px;  
}

#abilities{
    float: right;
    width: 340px;
    height: 515px;
    margin-top: 14px;
}

#abilities #top{
    margin-top: 10px;
    width: 335px;
    height: 50px;
    font-size: 30px;
    text-align: left;
    float: right;
    font-family: FreeMono, monospace;
}

#abilities #auto{
    margin-top: 10px;
    width: 335px;
    height: 40px;
    font-size: 24px;
    text-align: left;
    float: right;
    font-family: DejaVu Sans Mono, monospace;
}

#abilities #tele{
    margin-top: 10px;
    width: 335px;
    height: 40px;
    font-size: 24px;
    text-align: left;
    float: right;
    font-family: DejaVu Sans Mono, monospace;
}

#abilities #auto-functions{
    width: 350px;
    font-size: 18px;
    float: left;
    margin-left: -20px;
    font-family: Arial, sans-serif;
}


#abilities #tele-functions{
    float: left;
    width: 350px;
    font-size: 18px;
    margin-left: -20px;
    font-family: Arial, sans-serif;
}

#tba{
    width: 755px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    float: left;
    color: rgb(2, 122, 201);
}

@media(max-width: 800px){
    #main{width: 400px; height: 1050px;}
    #main #header{width: 375px; font-size: 32px; height: 50px; margin-top: 0; margin-left: auto; margin-right: auto;}
    #robotimg{width: 380px; margin: 0 auto;}
    #abilities{height: 425px;}
    #tba{font-size: 14px; width: 375px; margin:0 auto;}
}

@media(max-width: 450px){
    #main{width: 300px; height: 950px;}
    #main #header{width: 280px; font-size: 24px; height: 40px;}
    #robotimg{width: 280px;}
    #abilities{width: 280px; margin-top: 0; height: 485px;}
    #abilities #top{width: 280px; font-size: 28px;}
    #abilities #auto{width: 280px;}
    #abilities #auto-functions{width: 280px;}
    #abilities #tele{width: 280px;}
    #abilities #tele-functions{width: 280px;}
    #tba{font-size: 10px; width: 280px;}
}