#irah{
    margin-top: 20px;
}

#irahlogo{
    height: 250px;
    width: auto;
}

#irahlogopic{
    margin-top: -3px;
    height: 250px;
}

#irahinfo{
    height: auto;
    width: 375px;
}

#irahinfoheader{
    width: auto;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

#irahinfodes{
    width: auto;
    text-align: center;
    font-size: 11.25px;
    margin-top: 8px;
}

#irahcompinfo{
    margin-top: 4px;
    width: auto;
    text-align: center;
    font-size: 12px;
}

#irahbot{
    height: 250px;
    width: auto;
}

#irahbotpic{
    height: 250px;
    margin-top: -3px;
}

#infilogo{
    height: 250px;
    width: auto;
}

#infilogopic{
    margin-top: -3px;
    height: 250px;
}

#infiinfo{
    height: auto;
    width: 325px;
}

#infiinfoheader{
    width: auto;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

#infiinfodes{
    width: auto;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

#inficompinfo{
    width: auto;
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
}

#infibot{
    height: 250px;
    width: auto;
}

#infibotpic{
    height: 250px;
    margin-top: -3px;
}

#deeplogo{
    width: auto;
    height: 250px;
}

#deeplogopic{
    height: 250px;
    margin-top: -3px;
}

#deepinfo{
    width: 300px;
    height: auto;
}

#deepinfoheader{
    width: auto;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

#deepinfodes{
    margin-top: 8px;
    width: auto;
    text-align: center;
    font-size: 14.5px;
}

#deepcompinfo{
    width: auto;
    text-align: center;
    font-size: 14.5px;
    margin-top: 12px;
}

#deepbot{
    width: auto;
    height: 250px;
}

#deepbotpic{
    height: 250px;
    margin-top: -3px;
}

#powrlogo{
    width: auto;
    height: 250px;
}

#powrlogopic{
    margin-top: -3px;
    height: 250px;
}

#powrinfo{
    width: 325px;
    height: auto;
}

#powrinfoheader{
    width: auto;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 12px;
}

#powrinfodes{
    width: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}

#powrcompinfo{
    width: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}

#powrbot{
    width: auto;
    height: 250px;
}

#powrbotpic{
    height: 250px;
    margin-top: -3px;
}

#stemlogo{
    width: auto;
    height: 250px;
}

#stemlogopic{
    height: 250px;
    margin-top: -3px;
}

#steminfo{
    width: 350px;
    height: auto;
}

#steminfoheader{
    width: auto;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

#steminfodes{
    width: auto;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

#stemcompinfo{
    width: auto;
    text-align: center;
    font-size: 12.4px;
    margin-top: 12px;
}

#stemcompinfo a{
    margin-left: 6px;
}

#stembot{
    width: auto;
    height: 250px;
}

#stembotpic{
    height: 250px;
    margin-top: -3px;
}













#divider{
    height: 2px;
    width: 30vw;
    background-color: darkgreen;
    margin: 60px auto;
}

@media(max-width: 711px){
    #steminfoheader{padding-top: 0;}
}

@media(max-width: 724px){
    #powrinfo{margin-top: 20px;}
}

@media(max-width: 733px){
    #irahinfo{margin-top: 20px;}
}

@media(max-width: 745px){
    #deepinfo{margin-top: 20px;}
}

@media(max-width: 867px){
    #steminfo{margin-top: 20px;}
    #steminfoheader{padding-top: 10px;}
}

@media(max-width: 949px){
    #deepbot{margin-top: 20px;}
}

@media(max-width: 1031px){
    #powrbot{margin-top: 20px;}
}

@media(max-width: 1085px){
    #irahbot{margin-top: 20px;}
}

@media(max-width: 1183px){
    #stembot{margin-top: 20px;}
}

@media(max-width: 1137px){
    #infibot{margin-top: 20px;}
}

@media(max-width: 550px){
    #divider{height: 1px;}
    #irahlogo{width: auto; height: auto;}
    #irahlogopic{width: 50vw; height: auto;}
    #irahinfo{width: 90vw; margin: .5vh auto;}
    #irahinfoheader{font-size: 18px;}
    #irahbot{width: auto; height: auto;}
    #irahbotpic{width: 50vw; height: auto;}

    #infilogo{width: auto; height: auto;}
    #infilogopic{width: 50vw; height: auto;}
    #infiinfo{width: 90vw; margin: .5vh auto;}
    #infiinfoheader{font-size: 18px;}
    #infibot{width: auto; height: auto;}
    #infibotpic{width: 50vw; height: auto;}

    #deeplogo{width: auto; height: auto;}
    #deeplogopic{width: 50vw; height: auto;}
    #deepinfo{width: 90vw; margin: .5vh auto;}
    #deepinfoheader{font-size: 18px;}
    #deepbot{width: auto; height: auto;}
    #deepbotpic{width: 50vw; height: auto;}

    #powrlogo{width: auto; height: auto;}
    #powrlogopic{width: 50vw; height: auto;}
    #powrinfo{width: 90vw; margin: .5vh auto;}
    #powrinfoheader{font-size: 18px;}
    #powrbot{width: auto; height: auto;}
    #powrbotpic{width: 50vw; height: auto;}

    #stemlogo{width: auto; height: auto;}
    #stemlogopic{width: 50vw; height: auto;}
    #steminfo{width: 90vw; margin: .5vh auto;}
    #steminfoheader{font-size: 18px;}
    #stembot{width: auto; height: auto;}
    #stembotpic{width: 50vw; height: auto;}
}