#thankyou{
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
}

#premierlabel{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: underline;
}

#premierlogos{
    margin-top: 15px;
}

#fhs{
    height: 300px;
    width: auto;
}

#platinumlabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#platinumlogos{
    margin-top: 15px;
}

#azco{
    height: 200px;
    width: auto;
}

#goldlabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#goldlogos{
    margin-top: 15px;
}

#mencorp{
    height: 150px;
    width: auto;
}

#valmet{
    height: 150px;
    width: auto;
}

#absel{
    height: 150px;
    width: auto;
}

#silverlabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#silverlogos{
    margin-top: 15px;
}

#tft{
    height: 100px;
    width: auto;
}

#cmd{
    height: 100px;
    width: auto;
}

#faith{
    height: 100px;
    width: auto;
}

#bronzelabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#divider{
    height: 2px;
    width: 40vw;
    background-color: darkgreen;
    margin: 50px auto;
}

@media(max-width: 550px){
    #thankyou{font-size: 18px;}
    #absel{margin-top: 20px;}
    #premierlabel{font-size: 16px; margin-top: 20px;}
    #platinumlabel{font-size: 16px;}
    #goldlabel{font-size: 16px;}
    #silverlabel{font-size: 16px;}
    #bronzelabel{font-size: 16px;}
    #divider{margin: 30px auto; height: 1px;}

    #fhs{height: 200px;}
    #azco{height: 150px;}
    #mencorp{height: 100px;}
    #valmet{height: 100px;}
    #absel{height: 25px;}
    #tft{height: 50px;}
    #cmd{height: 50px;}
    #faith{height: 50px; margin-top: 0;}
}

@media(max-width: 827px){
    #absel{height: 100px;}
    #valmet{margin-top: 20px;}
}

@media(max-width: 1619px){
    #absel{margin-top: 20px;}
}