#thankyou{
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
}

#premierlabel{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: underline;
}

#premierlogos{
    margin-top: 15px;
}

#fhsframe{
    height: auto;
    width: auto;
}

#fhs{
    height: 300px;
    width: auto;
}

#platinumlabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#platinumlogos{
    margin-top: 15px;
}

#azcoframe{
    width: auto;
    height: auto;
}

#azco{
    height: 200px;
    width: auto;
}

#goldlabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#goldlogos{
    margin-top: 15px;
}

#mencorpframe{
    width: auto;
    height: auto;
}

#mencorp{
    height: 150px;
    width: auto;
}

#valmetframe{
    height: auto;
    width: auto;
}

#valmet{
    height: 150px;
    width: auto;
}

#abselframe{
    height: auto;
    width: auto;
}

#absel{
    height: 150px;
    width: auto;
}

#weframe{
    height: auto;
    width: auto;
    margin-top: 10px;
}

#ween{
    height: 150px;
    width: auto;
}

#baldframe{
    margin-top: 10px;
    height: auto;
    width: auto;
}

#baldwin{
    height: 150px;
    width: auto;
}

#ccuframe{
    width: auto;
    height: auto;
    margin-top: 10px;
}

#ccu{
    height: 150px;
    width: auto;
}

#baumframe{
    height: auto;
    width: auto;
    margin-top: 10px;
}

#baum{
    height: 150px;
    width: auto;
}

#silverlabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#silverlogos{
    margin-top: 15px;
}

#tftframe{
    width: auto;
    height: auto;
}

#tft{
    height: 100px;
    width: auto;
}

#cmdframe{
    height: auto;
    width: auto;
}

#cmd{
    height: 100px;
    width: auto;
}

#faithframe{
    width: auto;
    height: auto;
}

#faith{
    height: 100px;
    width: auto;
}

#bronzelabel{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

#divider{
    height: 2px;
    width: 40vw;
    background-color: darkgreen;
    margin: 50px auto;
}

@media(max-width: 550px){
    #thankyou{font-size: 18px;}
    #absel{margin-top: 20px;}
    #premierlabel{font-size: 16px; margin-top: 20px;}
    #platinumlabel{font-size: 16px;}
    #goldlabel{font-size: 16px;}
    #silverlabel{font-size: 16px;}
    #bronzelabel{font-size: 16px;}
    #divider{margin: 30px auto; height: 1px;}

    #fhs{height: 200px;}
    #azco{height: 150px;}
    #mencorp{height: auto; width: 50vw;}
    #valmet{height: 100px;}
    #absel{height: 25px;}
    #ween{height: 50px;}
    #baldwin{height: 75px;}
    #ccu{height: 60px;}
    #baum{height: 60px;}
    #tft{height: 50px;}
    #cmd{height: 50px;}
    #faith{height: 50px; margin-top: 0;}
}

@media(max-width: 565px){
    #azco{height: auto; width: 80vw;}
}

@media(max-width: 836px){
    #absel{height: auto; width: 70vw;}
}

@media(max-width: 1619px){
    #absel{margin-top: 20px;}
}